@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Loto', sans-serif;
}

.dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 7px 0 #bbbaba80;
}
